#main {
    font-family: alegreya sans;
    font-size: large;
}

#title {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: RGB(238, 238, 238);
}

h1 {
    font-family: lato;
    font-size: 50px;
}

#img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}

img {
    max-width: 100%;
    height: auto;
}

#tribute-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: RGB(238, 238, 238);
}

h3 {
    padding-top: 50px;
}

#olist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
}

li {
    padding-bottom: 20px;
}

#quote {
    width: 45%;
    padding-bottom: 50px;
    font-style: italic;
}

#link {
    font-size: larger;
    font-weight: bold;
    padding-bottom: 50px;
}

#tribute-link {
    align-self: flex-start;
}